@import url('http://www.sbs.com.au/food/sites/sbs.com.au.food/files/styles/full/public/coulant-choco_24.jpg?itok=JbARVh_U&mtime=1471215104');


body {

  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  font-size: 20px;
}
#header{
  background: #7b3f00;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#logo{
  width: 40%;
  float: left;
  font-size: 30px;
  color: #ff0000;
  padding: 10px;
}
#menu{
  width: 60%;
  float: right;
  text-align: right;
}
.clear{
  clear: both;
}
#menu ul{
  display: inline-block;
}
#menu ul li{
  float: left;
}
#menu ul li a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff
}
img{
  max-width: 100%;
}
#big-image .container{
  padding: 30px 0;
}
#big-image .container img{
  width: 100%;
  height: auto;
}
.box-image{
  width: 50%;
  padding-right: 15px;
  float: left;
  box-sizing: border-box;
}
.box-image:last-child{
  padding-right: 0;
  padding-left: 15px;
}
.box-image img{
  width: 100%;
  height: auto;
}
#footer{
  border-top: 2px solid #7b3f00;
  margin: 30px 0;
}
#footer-logo{
  width: 40%;
  float: left;
  color: #7b3f00;
  padding: 10px 0;
}
#footer-menu{
  width: 60%;
  float: right;
  text-align: right;
}
#footer-menu ul{
  display: inline;
}
#footer-menu ul li{
  float: left;
}
#footer-menu ul li a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #7b3f00;
}
